<h2 class="row animate__animated animate__bounceIn">Por pais</h2>
<hr>

<div class="row  row animate__animated animate__bounceIn">
    <div class="col ">
        <app-pais-input
        (onEnter)="buscar( $event )"
        (onDebounce)="sugerencias( $event )"
        placeholder="Buscar por país...">
        </app-pais-input>
    </div>
</div>

<ul *ngIf="mostrarSugerencias" 
    class="list-group">
    <li *ngFor="let pais of paisesSugeridos" 
    class="list-group-item list-group-item-action animate__animated animate__pulse">
        <a  class="nav-link"
            [routerLink]="['/pais', pais.cca2]">
            {{ pais.name.common }}
        </a>
    </li>
    <li class="list-group-item list-group-item-action animate__animated animate__pulse">
        <a  class="nav-link"
        (click)="buscarSugerido( termino )">
            Buscar "{{ termino }}"
        </a>
    </li>
</ul>

<hr>

<div
    *ngIf="hayError"
    class="alert alert-danger">
    No se encontró nada con el término "{{ termino }}"
</div>

<div 
    *ngIf="paises.length > 0" 
    class="row">
    
    <div class="col">
    <app-pais-tabla
    [paises]="paises"
    class="row animate__animated animate__zoomIn"></app-pais-tabla>

</div>
</div>
