<h2 class="animate__animated animate__bounceIn">Por Capital</h2>
<hr>

<div class="row animate__animated animate__bounceIn">
    <div class="col">
        <app-pais-input 
            (onEnter)="buscar( $event )" 
            placeholder="Buscar por capital..."
            (onDebounce)="sugerencias( $event )">
        </app-pais-input>
    </div>
</div>


<ul *ngIf="mostrarSugerencias" 
    class="list-group ">
    <li *ngFor="let pais of capitalesSugeridos" 
    class="list-group-item list-group-item-action animate__animated animate__pulse ">
        <a  class="nav-link"
            [routerLink]="['/pais', pais.cca2]">
            {{ pais.name.common }}
        </a>
    </li>
    <li class="list-group-item list-group-item-action animate__animated animate__pulse">
        <a  class="nav-link"
        (click)="buscarSugerido( termino )">
            Buscar "{{ termino }}"
        </a>
    </li>
</ul>

<hr>

<div *ngIf="hayError" class="alert alert-danger">
    No se encontró nada con el término "{{ termino }}"
</div>

<div *ngIf="capital.length > 0" class="row">

    <div class="col">
        <app-pais-tabla [paises]="capital"
        class="row animate__animated animate__zoomIn"></app-pais-tabla>

    </div>
</div>